@{
    ViewData["Title"] = "About Us";
}

<div class="marketing-header">
    <h1 class="text-center mt-5">Our goal is to help keep you organised</h1>
    <p class="text-center">Plan Suite empowers businesses and individuals to keep their projects organised by providing a project management suite that is world class in how it achieves its goals, allowing teams to effectively manage their projects whilst also keeping track of their project budgets and time-keeping.</p>
</div>
<div class="marketing-section">
    <h2 class="text-center mt-5">Our Story</h2>
    <p class="text-center">Plan Suite was born out of a need to provide a project management suite that provided budget management for projects whilst also allowing.</p>
    <p class="text-center">Sean McElholm, our founder, recognised a need for project management software that allowed enterprises and individuals alike to keep track of their projects and understand their project budgets without needing to resort to multiple third party tools to do one job.</p>
    <p class="text-center">The initial challenges for Plan Suite in its infancy is providing feature parity with the existing tools that already exist in the market whilst maintaining a cost-effective product. This compounded even more by the fact that the platform was built from scratch by our founder, Sean McElholm.</p>
</div>
<hr />
<div class="marketing-section">
    <h2 class="text-center mt-5">Our Life</h2>
    <p class="text-center">At Plan Suite, we believe that teams work best when communication, mutual support and diversity is provided. Our web app aims to support this goal by helping to keep teams organised and on-track to meet their goals by providing a platform where communication and mutual support is part of the design philosophy.</p>
    <p class="text-center">As for diversity, being a company founded in Northern Ireland by someone who grew up after the 1998 Good Friday Agreement and who grew up with a diverse group of people around him means that we as a company are well placed to understand diversity better than any of our competitors.</p>
</div>

