@model PlanSuite.Models.Temporary.ErrorViewModel
@{
    ViewData["Title"] = "Authentication Error";
}

<div class="container mb-5 mt-5">
    <div class="text-center"><img src="~/img/lock.png" alt="Lock" class="ps-img-center ps-img-small mb-5" /></div>
    <h1 class="text-center">@ViewData["Title"].ToString().ToUpper()</h1>
    <p class="text-muted text-center">An error occurred while processing your authentication request.<br />This can mean that remote authentication was cancelled.</p>
    <p class="mt-4 text-center">
        Already have an account? <a class="ps-link-primary" href="/Identity/Account/Login">Sign in.</a><br />
        New user? <a class="ps-link-primary" href="/Identity/Account/Register">Sign up.</a>
    </p>
</div>