@model PlanSuite.Models.Temporary.ErrorViewModel
@{
    ViewData["Title"] = "Authentication Error";
}

<div class="container">
    <div class="register-card">
        <div class="row">
            <div class="col text-center">
                <h3>Error</h3>
                <h4>An error occurred while processing your authentication request.</h4>

                <p>This can mean that remote authentication was cancelled.</p>
               
                <p class="mt-4">Already have an account? <a class="ps-link-primary" href="/Identity/Account/Login">Sign in.</a><br />
                New user? <a class="ps-link-primary" href="/Identity/Account/Register">Sign up.</a></p>
            </div>
        </div>
    </div>
</div>