@{
    ViewData["Title"] = "Careers";
}

<div class="careers-header">
    <h1 class="text-center mt-5">Let's work together, as a team!</h1>
    <p class="text-center">Join the Plan Suite team and help us make teamwork more efficient! With your help, we can empower teams to succeed together. Work alongside supportive colleagues who care about your growth and development.</p>
</div>
<div class="careers-section">
    <h2 class="text-center mt-5">Open Positions</h2>
    <p class="text-center">Currently, we don't have any available positions, but stay tuned for future opportunities to join our team!</p>
    <p class="text-center">Most of our team is based at our Derry-Londonderry HQ, but we also offer opportunities for remote work.</p>
</div>