@{
    ViewData["Title"] = "Careers";
}

<div class="marketing-header">
    <h1 class="text-center mt-5">Let's work together, as a team!</h1>
    <p class="text-center">At Plan Suite, our goal is to help teams work better together and with you at our side, it'll surely help us to help other teams and to help others succeed! You'll also be working with people who care about your success and you'll get all the support you'll need.</p>
</div>
<div class="marketing-section">
    <h2 class="text-center mt-5">Open Positions</h2>
    <p class="text-center">At this time, we do not have any open positions but once the time comes, you'll know.</p>
    <p class="text-center">Our head office is based in Derry~Londonderry in Northern Ireland and that is where most of our employee's will be during office hours but we'll likely also have remote positions available too.</p>
</div>