@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="marketing-header">
    <div class="container text-center">
        <h1>Plan Suite's Core Features</h1>
        <p>Thanks to Plan Suite, you can manage projects, functions and processes no matter how complex.</p>
        <a class="btn ps-btn-white">Get Started</a>
    </div>
</div>

<div>
    <div class="container">
    <h3 class="text-center">Project View</h3>
    <p class="">Project View allows you to visualise your project and see what tasks need to be completed.</p>
    <img class="img-fluid" src="~/img/boards.png" alt="Project View with kanban boards"/>
    </div>
</div>

<div>
    <div class="container">
    <h3 class="text-center">Project Management</h3>
    <p>Project View allows you to visualise your project and see what tasks need to be completed.</p>
    <img class="img-fluid" src="~/img/boards.png" alt="Project View with kanban boards"/>
    </div>
</div>