@{
    ViewData["Title"] = "Pricing";
}

<div class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="text-center">Choose your Plan</h1>
        <h4 class="text-center">Explore which plan is right for you.</h4>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm pricing-card">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">£0<span class="text-muted fw-light">/mo</span></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited Tasks</li>
                        <li>Unlimited Projects</li>
                        <li>Unlimited storage (maximum 100mb/file)*</li>
                        <li>20 members per project</li>
                        <li>Calendar view*</li>
                        <li>List view*</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="w-100 btn btn-lg ps-btn-primary">Sign up for free</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm pricing-card">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Plus</h4>
                    <span class="badge ps-btn-primary fs-6 mt-2">Best Value</span>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">£4.99<span class="text-muted fw-light">/mo</span></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited members per project</li>
                        <li>Unlimited Storage (maximum 500mb/file)*</li>
                        <li>Can create 1 organisation*</li>
                        <li>Can create up to 5 teams per organisation*</li>
                        <li>Ability to assign custom backgrounds per project*</li>
                        <li>Ability to assign milestones</li>
                        <li>Timeline (gantt chat) view*</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="w-100 btn btn-lg ps-btn-primary">Get started</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm pricing-card">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">£8.99<span class="text-muted fw-light">/mo</span></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited organisations*</li>
                        <li>Unlimited teams per organisation*</li>
                        <li>Unlimited Storage (maximum 1gb/file)*</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="w-100 btn btn-lg ps-btn-primary">Get started</a>
                </div>
            </div>
        </div>
    </div>
    <small class="text-muted">* means feature is not currently implemented and will be implemented as soon as possible.</small>
    <h2 class="display-6 text-center mb-4">Compare Plans</h2>

    <div class="table-responsive">
        <table class="table text-center">
        <thead>
            <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Free</th>
            <th style="width: 22%;">Plus</th>
            <th style="width: 22%;">Pro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="text-start">Unlimited Projects</th>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Unlimited Tasks</th>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Unlimited Storage</th>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Kanban View</th>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Calendar View</th>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <th scope="row" class="text-start">Unlimited Members per Project</th>
                <td></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Custom Project Background</th>
                <td></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Custom Project Background</th>
                <td></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Project Milestones</th>
                <td></td>
                <td><i class="bi bi-check-lg"></i></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Unlimited Organisation</th>
                <td></td>
                <td></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Unlimited Teams per Organisation</th>
                <td></td>
                <td></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Unlimited Members per project</th>
                <td></td>
                <td></td>
                <td><i class="bi bi-check-lg"></i></td>
            </tr>
        </tbody>
        </table>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>