@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mb-10">
    <h1>Plan Suite Privacy Policy</h1>

    <p>
        This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
        <br />
        <br />Topics:
        <ul>
            <li>What data do we collect?</li>
            <li>How do we collect your data?</li>
            <li>How will we use your data?</li>
            <li>How do we store your data?</li>
            <li>Marketing</li>
            <li>What are your data protection rights?</li>
            <li>What are cookies?</li>
            <li>How do we use cookies?</li>
            <li>What types of cookies do we use?</li>
            <li>How to manage your cookies</li>
            <li>Privacy policies of other websites</li>
            <li>Changes to our privacy policy</li>
            <li>How to contact us</li>
            <li>How to contact the appropriate authorities</li>
        </ul>
    </p>

    <p>
        <strong>What data do we collect?</strong>
        <ul>
            <li>Username</li>
            <li>Email Address</li>
            <li>Password</li>
            <li>Phone Number (if provided)</li>
            <li>Ip Address</li>
        </ul>
    </p>

    <p>
        <strong>How do we collect your data?</strong>
        <ul>
            <li>Register online or place an order for any of our products or services.</li>
            <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
            <li>Use or view our website via your browser’s cookies.</li>
        </ul>
    </p>

    <p>
        <strong>How will we use your data?</strong>
        <ul>
            <li>Process your order and manage your account.</li>
            <li>Email you with special offers on other products and services we think you might like.</li>
        </ul>

        If you agree, Our Company will share your data with our partner companies so that they may offer you their products and services.
        <ul>
            <li>Google LLC</li>
            <li>Meta Platforms, Inc</li>
        </ul>
    </p>

    <p>
        <strong>How do we store your data?</strong>
        Our Company securely stores your data at LD5 data center in Slough, near London, United Kingdom.

        Our Company will keep your account information and other above mentioned data for until you delete your account. Once this time period has expired, we will delete your data by removing all information from our databases.
    </p>
    </p>

    <p>
        <strong>Marketing</strong>
        Our Company would like to send you information about products and services of ours that we think you might like, as well as those of our partner companies.

        <ul>
            <li>Google LLC</li>
            <li>Meta Platforms, Inc</li>
        </ul>
        If you have agreed to receive marketing, you may always opt out at a later date.

        You have the right at any time to stop Our Company from contacting you for marketing purposes or giving your data to other members of the Our Company Group.

        If you no longer wish to be contacted for marketing purposes, please <a href="/Identity/Account/Manage">click here</a>.
    </p>

    <p>
        <strong>Marketing</strong>
        Our Company would like to send you information about products and services of ours that we think you might like, as well as those of our partner companies.

        <ul>
            <li>Google LLC</li>
            <li>Meta Platforms, Inc</li>
        </ul>
        If you have agreed to receive marketing, you may always opt out at a later date.

        You have the right at any time to stop Our Company from contacting you for marketing purposes or giving your data to other members of the Our Company Group.

        If you no longer wish to be contacted for marketing purposes, please <a asp-area="Identity" asp-page="/Account/Manage/Index">click here</a>.
    </p>

    <p>
        <strong>What are your data protection rights?</strong>
        Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
        <ul>
            <li><strong>The right to access</strong> – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</li>
            <li><strong>The right to rectification</strong> – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</li>
            <li><strong>The right to erasure</strong> – You have the right to request that Our Company erase your personal data, under certain conditions.</li>
            <li><strong>The right to restrict processing</strong> – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</li>
            <li><strong>The right to object to processing</strong> – You have the right to object to Our Company’s processing of your personal data, under certain conditions.</li>
            <li><strong>The right to data portability</strong> – You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
        </ul>
        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: privacy@plan-suite.com
    </p>

    <p>
        <strong>Cookies</strong>
        Cookies are text files placed on your device to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology

        For further information, visit allaboutcookies.org.
    </p>

    <p>
        <strong>How do we use cookies?</strong>
        Our Company uses cookies in a range of ways to improve your experience on our website, including:
        <ul>
            <li>Keeping you signed in</li>
            <li>Understanding how you use our website</li>
        </ul>
    </p>

    <p>
        <strong>What types of cookies do we use?</strong>
        Our Company uses cookies in a range of ways to improve your experience on our website, including:
        <ul>
            <li>Functionality – Our Company uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
            <li>Advertising – Our Company uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Our Company sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>
        </ul>
    </p>

    <p>
        <strong>How to manage cookies</strong>
        You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.
    </p>

    <p>
        <strong>Privacy policies of other websites</strong>
        The Our Company website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
    </p>

    <p>
        <strong>Changes to our privacy policy</strong>
        Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 16 May 2022.
    </p>

    <p>
        <strong>How to contact us</strong>
        If you have any questions about Our Company’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
        Email us at: privacy@plan-suite.com
    </p>

    <p>
        <strong>How to contact the appropriate authority</strong>
        Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the <a href="https://ico.org.uk/make-a-complaint/">Information Commissioner’s Office</a>.
    </p>
</div>