@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PlanSuite.Models.Temporary.SalesContactedModel

<div class="sales-background">
    <h1 class="sales-header">Thank you for contacting our sales team.</h1>
    <p class="sales-text">We try to answer all queries within 48 hours. Someone from our sales team will contact you within that time period to discuss your teams needs, usually via an email but if you provided a phone number we might also contact you that way.</p>
    <p class="sales-text">In the mean time, we suggest that you <a href="/Identity/Account/Register">get started</a> on our website and try out Plan Suite.</p>
</div>