@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PlanSuite.Models.Temporary.SalesContactedModel

Thank you for contacting our sales team, @Model.FirstName<text>.</text>
Someone from our sales team will contact you as soon as possible to discuss your teams needs.

In the mean time, we suggest that you <a>get started</a> on our website and try out Plan Suite.