@font-face {
    font-family: "Alexandria";
    src: url("/fonts/Alexandria.ttf");
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro.ttf");
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono.ttf");
}

:root {
    /* Colours */
    --blue-1: #3A5FDA;
    --blue-2: #3455c4;
    --blue-3: #2e4cae;
    --blue-4: #284298;
    --blue-5: #223982;
    --green-1: #00A896;
    --green-2: #009787;
    --green-3: #008678;
    --green-4: #007569;
    --green-5: #00645a;
    --red-1: #E71D36;
    --red-2: #cf1a30;
    --red-3: #b8172b;
    --red-4: #a11425;
    --red-5: #8a1120;
    --grey-1: #424946;
    --grey-2: #575d5a;
    --grey-3: #6c716f;
    --grey-4: #818584;
    --grey-5: #969a98;
    --black: #2E3532;
    --white: #FFFFFF;
    --white-2: #FCFCFC;
    --white-2: #F9F9F9;
    --white-3: #F7F7F7;
    /* Fonts */
    --fontFamilyBase: "Alexandria", "Helvetica Neue", "Helvetica", sans-serif;
    --fontFamilyPrint: "Source Serif Pro", "Times New Roman", "Times", serif;
    --fontFamilyMono: "Ubuntu Mono", monospace;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--white);
    min-height: 100vh;
    font-family: var(--fontFamilyBase);
}

.navagation-bar {
    background-color: var(--blue-1);
    color: var(--white);
}

.footer {
    bottom: 0;
    width: 100%;
}

.ps-btn-primary {
    background-color: var(--blue-1);
    color: var(--white);
}

    .ps-btn-primary:hover {
        background-color: #4D6FDD;
        color: var(--white);
    }

.ps-btn-secondary {
    background-color: var(--black);
    color: var(--white);
}

    .ps-btn-secondary:hover {
        background-color: #424946;
        color: var(--white);
    }

.ps-btn-success {
    background-color: var(--green-1);
    color: var(--white);
}

    .ps-btn-success:hover {
        background-color: #19B0A0;
        color: var(--white);
    }

.ps-btn-danger {
    background-color: var(--red-1);
    color: var(--white);
}

    .ps-btn-danger:hover {
        background-color: #EE6072;
        color: var(--white);
    }

.ps-btn-white {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
}

    .ps-btn-white:hover {
        color: var(--white);
        background-color: var(--black);
    }

.ps-link {
    color: #E5E5E5;
    text-decoration: none;
}

.ps-link:hover {
    color: #CCCCCC;
    text-decoration: underline;
}

.ps-div {
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
}

.ps-div-users {
    background-color: var(--green-1);
}

.ps-div-projects {
    background-color: #3A5FDA;
}

.ps-div-cards {
    background-color: var(--red-1);
}

.ps-text-white {
    color: #FFF;
}

.fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

div {
    display: block;
}

.icon {
    display: inline-block;
    color: inherit;
    text-align: center;
    vertical-align: -0.125rem;
    fill: currentColor;
}

img, svg {
    vertical-align: middle;
}

.icon:not(.icon-c-s):not(.icon-custom-size) {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

.ps-spinner {
    margin:1rem;
}

.ps-modifiable:hover {
    cursor: pointer;
}

.ps-card-checklist {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px var(--black);
}

.ps-footer-link {
    color: var(--white);
    text-decoration: none;
}

    .ps-footer-link:hover {
        color: var(--white);
        text-decoration: underline;
    }

.marketing-header {
    background-image: linear-gradient(var(--blue-1), var(--blue-2));
    min-height: 10rem;
    color: var(--white);
    padding: 10px;
}

.sales-header {
    text-align:center;
}

.sales-background {
    background-image: linear-gradient(var(--white-3), var(--white));
    color: var(--black);
    height: 100vh;
    padding: 20px;
}

.sales-modal {
    background-color: var(--white);
    color: var(--black);
    padding: 32px 22px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-bottom:10px;
}

.sales-modal-required-info {
    font-weight:500;
}

@media (min-width: 375px) {
    .marketing-header {
        padding: 0 15px;
    }
}

@media (min-width: 425px) {
    .marketing-header {
        padding: 10px 20px;
    }
}

@media (min-width: 768px) {
    .marketing-header {
        padding: 10px 50px;
    }
}

@media (min-width: 768px) {
    .marketing-header {
        text-align:center;
        padding-bottom:5em;
    }
}

.marketing-section {
    padding:1rem;
    min-height: 10rem;
    -webkit-font-smoothing: antialiased;
}

.ps-img-centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.register-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--black);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pricing-header {
    max-width: 700px;
}

.pricing-card {
    min-height: 25rem;
}


.ps-link-primary {
    color: var(--blue-1);
    text-decoration: none;
}

    .ps-link-primary:hover {
        color: var(--blue-1);
        text-decoration: underline;
    }

.register-button {
    background-color: var(--white);
    color: var(--blue-1)!important;
}

    .register-button:hover {
        box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
    }

.nav-pills .nav-link.active {
    background-color: var(--blue-1);
}

.nav-pills .nav-link {
    color: var(--blue-1);
}

.milestone-metadata {
    font-size: 13px;
}

.milestone-metadata-item {
    display: inline-block;
    margin-right:0.5rem;
}

.milestone-button-inline {
    display: inline-block;
    float: right;
    margin-right:0.2rem;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

/*.validation-summary-valid {
    display: none;
} */

.ps-alert {
    position: relative;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.ps-alert-error {
    background-color: var(--red-1);
    color: var(--white);
}

.ps-alert-success {
    background-color: var(--green-1);
    color: var(--white);
}

.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
}

.horizontal-scroll-item {
    display: inline-block;
    vertical-align: top;
    background-color: var(--bs-gray-200);
    padding: 1rem;
    border-radius: 5px;
}

@media (max-width: 425px) {
    .horizontal-scroll-item {
        min-width: 100%;
    }
}

.ps-clickable {
    margin-bottom: 0.5em;
}

@media (min-width: 768px) {
    .ps-clickable {
        margin: 0.5em;
    }

    .ps-clickable:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
}

.nav-active {
    border: solid;
    border-width: 0.1em;
}

.calendar-ul {
    list-style-type: none;
}

/* Month header */
.month {
    margin-top: 10px;
    padding: 20px 20px;
    width: 100%;
    background: var(--blue-1);
    text-align: center;
}

    /* Month list */
    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

    .month .calendarArrowBtn {
        padding-top: 10px;
    }

    /* Previous button inside month header */
    .month #prev {
        float: left;
    }

    /* Next button */
    .month #next {
        float: right;
    }

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

    .weekdays li {
        display: inline-block;
        width: 13.1%;
        color: #666;
        text-align: center;
    }

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 14.25%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }


    @media (min-width: 425px) {
        .days li {
            width: 14%;
        }
    }

    @media (min-width: 768px) {
        .days li {
            width: 13.7%;
        }
    }

    @media (min-width: 1024px) {
        .days li {
            width: 13.55%;
        }
    }

    @media (min-width: 1024px) {
        .days li {
            width: 13.4%;
        }
    }

        /* Highlight the "current" day */
        .days li .active {
            padding: 5px;
            background: #1abc9c;
            color: white !important
        }

.navbar-nav .ps-nav-link {
    padding-right: 0;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .navbar-nav .ps-nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}

#chart_div {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding:1em;
    margin:1em;
}

.ps-page-title {
    text-align: left;
    margin-left: 0.5em;
    font-size: 1.5em;
}

.ps-home-add-btn {
    float: right;
    margin-right: 0.5em;
    padding-top: 2px;
}

.ps-task-item {
    text-align: left;
    font-size: 1.25em;
    background: var(--bs-gray-400);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom-color: var(--black);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.ps-task-checkbox {
    border-radius: 25px !important;
    background-image: url("/svg/check.svg");
    background-color: var(--white);
    border: none;
    color: #6c757d !important;
}

    .ps-task-checkbox:checked {
        background-image: url("/svg/check.svg");
        background-color: var(--green-1);
        border-color: var(--black);
        border: none;
        color: #6c757d !important;
    }

    .form-check-input:focus {
        border-color: none;
        outline: 0;
        box-shadow: none;
    }

.task-grip {
    margin-right: 10px;
    border: solid 1px;
    padding: 4px;
    cursor: grab;
}

#MyTask {
    padding-bottom: 1em;
}

.landing-01 {
    padding-top: 144px;
    line-height: 43px;
    font-size: 31px;
    padding-bottom: 16px;
}

@media (min-width: 375px) {
    .landing-01 {
        padding-top: 115px;
    }
}

.landing-02 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.ps-get-started {
    background-color: var(--white);
    color: var(--blue-1);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: .5px;
}

.ps-btn-get-started {
    padding: 16px 24px;
}

.ps-navbar-get-started {
    padding: 10px;
    position: absolute;
    right: 75px;
    top: 5px;
}


@media (min-width: 576px) {
    .ps-navbar-get-started {
        display:none;
    }
}

.ps-contact-sales-div {
    position: relative;
    cursor: pointer;
    padding: 16px 0;
    margin-bottom: 32px;
}

@media (min-width: 375px) {
    .ps-contact-sales-div {
        display: inline-block;
        padding-left: 16px;
    }
}

.ps-btn-contact-sales {
    align-items: center;
    font-size: 16px;
    justify-content: flex-start;
    color: var(--white);
}

/* Hide this on mobile devices */
#marketing-carousel {
    display:none;
}

#sales-image {
    display:none;
}

@media (min-width: 1024px) {
    #marketing-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #sales-image {
        display:block;
        position: relative;
        top: 41px;
        margin-bottom: 82px;
        margin-left:auto;
        margin-right:auto;
    }

    #sale-image {
        margin: auto;
        display: block;
    }
}

@media (min-width: 2560px) {
    .sales-text {
        font-size:30px;
    }
}

.zindex-2 {
    z-index: 2;
}

.ps-navbar-upgrade {
    display:none;
}

@media (min-width: 768px) {
    .ps-navbar-upgrade {
        display: block;
        padding: 10px;
        background-image: linear-gradient(0deg, var(--white), var(--white-3));
    }
}

/*
    border-bottom: 1px solid rgba(47, 45, 43, 0.2);
    list-style-type: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 15px;
    margin-bottom: 0px;
*/