/*
    Colours:
    #3A5FDA - Navbar & Primary
    #00A896 - Success 
    #E71D36 - Danger
    #2E3532 - Text
    #FFFFFF - Background
*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFFFFF;
}

.navagation-bar {
    background-color: #3A5FDA;
    color: #FFFFFF;
}

.ps-btn-primary {
    background-color: #3A5FDA;
    color: #FFFFFF;
}

    .ps-btn-primary:hover {
        background-color: #4D6FDD;
        color: #FFFFFF;
    }

.ps-btn-secondary {
    background-color: #2E3532;
    color: #FFFFFF;
}

    .ps-btn-secondary:hover {
        background-color: #424946;
        color: #FFFFFF;
    }

.ps-btn-success {
    background-color: #00A896;
    color: #FFFFFF;
}

    .ps-btn-success:hover {
        background-color: #19B0A0;
        color: #FFFFFF;
    }

.ps-btn-danger {
    background-color: #E71D36;
    color: #FFFFFF;
}

    .ps-btn-danger:hover {
        background-color: #EE6072;
        color: #FFFFFF;
    }

.ps-link {
    color: #E5E5E5;
    text-decoration: none;
}

.ps-link:hover {
    color: #CCCCCC;
    text-decoration: underline;
}

.ps-div {
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
}

.ps-div-users {
    background-color: #00A896;
}

.ps-div-projects {
    background-color: #3A5FDA;
}

.ps-div-cards {
    background-color: #E71D36;
}

.ps-text-white {
    color: #FFF;
}

.fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

div {
    display: block;
}

.icon {
    display: inline-block;
    color: inherit;
    text-align: center;
    vertical-align: -0.125rem;
    fill: currentColor;
}

img, svg {
    vertical-align: middle;
}

.icon:not(.icon-c-s):not(.icon-custom-size) {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

.ps-spinner {
    margin:1rem;
}