:root {
    --blue: #3A5FDA;
    --green: #00A896;
    --red: #E71D36;
    --black: #2E3532;
    --white: #FFFFFF;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--white);
}

.navagation-bar {
    background-color: var(--blue);
    color: var(--white);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ps-btn-primary {
    background-color: var(--blue);
    color: var(--white);
}

    .ps-btn-primary:hover {
        background-color: #4D6FDD;
        color: var(--white);
    }

.ps-btn-secondary {
    background-color: var(--black);
    color: var(--white);
}

    .ps-btn-secondary:hover {
        background-color: #424946;
        color: var(--white);
    }

.ps-btn-success {
    background-color: var(--green);
    color: var(--white);
}

    .ps-btn-success:hover {
        background-color: #19B0A0;
        color: var(--white);
    }

.ps-btn-danger {
    background-color: var(--red);
    color: var(--white);
}

    .ps-btn-danger:hover {
        background-color: #EE6072;
        color: var(--white);
    }

.ps-btn-white {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
}

    .ps-btn-white:hover {
        color: var(--white);
        background-color: var(--black);
    }

.ps-link {
    color: #E5E5E5;
    text-decoration: none;
}

.ps-link:hover {
    color: #CCCCCC;
    text-decoration: underline;
}

.ps-div {
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
}

.ps-div-users {
    background-color: var(--green);
}

.ps-div-projects {
    background-color: #3A5FDA;
}

.ps-div-cards {
    background-color: var(--red);
}

.ps-text-white {
    color: #FFF;
}

.fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

div {
    display: block;
}

.icon {
    display: inline-block;
    color: inherit;
    text-align: center;
    vertical-align: -0.125rem;
    fill: currentColor;
}

img, svg {
    vertical-align: middle;
}

.icon:not(.icon-c-s):not(.icon-custom-size) {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

.ps-spinner {
    margin:1rem;
}

.ps-modifiable:hover {
    cursor: pointer;
}

.ps-card-checklist {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px var(--black);
}

.ps-footer-link {
    color: var(--white);
    text-decoration: none;
}

.ps-footer-link:hover {
    text-decoration: underline;
}

.marketing-header {
    background-color: var(--blue);
    min-height: 10rem;
    color: var(--white);
}

.marketing-section {
    padding:1rem;
    min-height: 10rem;
}

.ps-img-centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}