<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
	  internalLogFile="/Log/nlog-internal.log">
	<targets async="true">
		<target xsi:type="File" name="debug" fileName="C:\Logs\PlanSuite-${shortdate}.log"
				layout="[${machinename} | ${longdate} | ${uppercase:${level}}] ${message}" />

		<target xsi:type="File" name="production" fileName="/var/log/plansuite/PlanSuite-info-${shortdate}.log"
				layout="[${machinename} | ${longdate} | ${uppercase:${level}}] ${message}" />

		<target name="console" xsi:type="console" layout="[${machinename} | ${uppercase:${level}}] --> ${message}"/>
	</targets>

	<rules>
		<logger name="*" writeTo="debug">
			<filters>
				<when condition="'${environment:OSVERSION_PLATFORM}'!='Unix'" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" writeTo="production">
			<filters>
				<when condition="'${environment:OSVERSION_PLATFORM}'='Unix'" action="Ignore" />
			</filters>
		</logger>
		
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Debug" maxlevel="Error" writeTo="Console, windows" />
		<logger name="*" minlevel="Info" maxlevel="Error" writeTo="linux" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="System.*" maxLevel="Warn" final="true" />
		<logger name="Microsoft.*" maxLevel="Warn" final="true" />
		<logger name="Microsoft.Hosting.Lifetime*" maxLevel="Warn" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>