@using Microsoft.AspNetCore.Identity
@using PlanSuite.Models.Persistent
@inject UserManager<ApplicationUser> UserManager
@model PlanSuite.Models.Temporary.ProjectViewModel
@{
}

<div id="#calendar">
    <div class="month">
        <ul class="calendar-ul">
            <li id="prev" class="calendarArrowBtn">&#10094;</li>
            <li id="next" class="calendarArrowBtn">&#10095;</li>
            <li id="monthName">August<br><span style="font-size:18px">2021</span></li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>
    <ul class="days">

    </ul>
    <ul class="chart-bars">
        <li data-duration="tue½-wed" data-color="#b03532">Task</li>
    </ul>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}