@using System.Text
@using PlanSuite.Utility
@{
    ViewData["Title"] = "Personal Journal";
}
@model PlanSuite.Models.Temporary.JournalIndexViewModel

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Personal Journal</h1>
        @* Button trigger modal *@

        <a class="btn ps-btn-primary mb-1" asp-controller="Journal" asp-action="Write"><i class="bi bi-journal-plus"></i> New Journal Entry</a>

        <div class="row" id="notesHolder">
            @* Show all journal entries *@
            @if(Model.PrivateNotes.Count > 0)
            {
                foreach(var entry in Model.PrivateNotes)
                {
                    // class="col-sm-6"
                    <div class="card ps-clickable col-sm" id="@entry.Id">
                        <div class="card-body">
                            @{
                                string finalString = UrlUtility.StripHtml(entry.Content);
                                if(finalString.Length > 50)
                                {
                                    finalString = finalString.Remove(50);
                                    finalString += "...";
                                }
                            }

                            <h5 class="card-title">@entry.Name</h5>
                            <p class="card-text">@finalString</p>
                            <span class="ps-link-primary" @*asp-controller="Journal" asp-action="Write" asp-route-id="@entry.Id"*@>Click to read &raquo;</span>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="mt-3 text-center">You do not have any current active journal entries.</p>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/journal/index.js" asp-append-version="true"></script>
}