<li>Unlimited Tasks</li>
<li>Unlimited Projects</li>
<li>Unlimited Personal Journal Notes</li>
@*<li>Unlimited storage (maximum 100mb/file)*</li>*@
<li>10 members per organisation</li>
@*<li>Calendar view*</li>
<li>List view*</li>*@