<li>Unlimited members per project</li>
@*<li>Unlimited Storage (maximum 500mb/file)*</li>*@
<li>Can create 1 organisation</li>
@*<li>Can create up to 5 teams per organisation*</li>*@
@*<li>Ability to assign custom backgrounds per project*</li>*@
<li>Ability to assign milestones</li>
@*<li>Timeline (gantt chat) view*</li>*@
<li>Pie chart to track progress</li>
<li>Ability to track budgets (Cost, Hours or Days)</li>