@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container">
    <div class="register-card">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <div class="row">
            <div class="col">
                <p>Please enter your email address to recover your account.</p>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                      <label asp-for="Input.Email" class="form-label">Email address</label>
                      <input asp-for="Input.Email" type="email" class="form-control" placeholder="name@example.com">
                      <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg ps-btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
