@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <div class="register-card">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <div class="row">
            <div class="col">
                <section>
                    <p class="text-center">Please check your email to reset your password.</p>
                </section>
            </div>
        </div>
    </div>
</div>