@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Verify your email";
}

<div class="container">
    <div class="register-card">
        <h4 class="text-center">Almost done...</h4>
        <div class="row">
            <div class="col">
                <section>
                    <p>We'll send an email to @Model.Email within the next 5 minutes, usually instantly. Please click on the link that has been sent to your email account to verify your email and continue the registration process.</p>
                </section>
            </div>
        </div>
    </div>
</div>