@page
@model PlanSuite.Models.Temporary.HomeViewModel
@using Microsoft.AspNetCore.Http.Extensions
@using PlanSuite.Utility

<div class="marketing-header">
    <div class="row">
        <div class="col">
            <h1 class="landing-01">Collaborate with ease and achieve more with Plan Suite.</h1>
            <h3 class="landing-02">Empower your team to collaborate more efficiently with Plan Suite - sign up for free today.</h3>
            <a href="/Identity/Account/Register" class="btn ps-get-started ps-btn-get-started">Get Started</a>
            <div class="ps-contact-sales-div">
                <a asp-controller="Home" asp-action="Sales" class="btn ps-btn-contact-sales">Contact Sales <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg">
            <div id="marketing-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        @* Kanban View *@
                        <img src="~/img/boards.png" class="d-block w-100" alt="Kanban Boards">
                    </div>
                    <div class="carousel-item">
                        @* Personal Journal *@
                        <img src="~/img/Journal2.png" class="d-block w-100" alt="Personal Journal">
                    </div>
                    <div class="carousel-item">
                        @* Personal Journal *@
                        <img src="~/img/Journal2.png" class="d-block w-100" alt="Personal Journal">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="marketing-section text-center">
    <p>
        Simplify your team's project management with Plan Suite with our advanced reporting and analytics to track progress and performance.<br />
    </p>
    <hr />
</div>*@

<div class="marketing-section text-center">
    <p>With years of experience in managing projects, experience the difference with our project management solutions.</p>
    <div class="row">
        <div class="col">
            <p>
                <i class="bi bi-kanban"></i> <strong>Kanban boards</strong><br />
                Maximize productivity by breaking down complex projects into smaller, more manageable tasks using Kanban boards.
            </p>
            <p>
                <i class="bi bi-card-checklist"></i> <strong>Personal Journal</strong><br />
                Organize your thoughts and take your projects to the next level with a personal journal, the perfect tool for capturing and refining your ideas.
            </p>
        </div>
        <div class="col">
            <p>
                <i class="bi bi-list-task"></i> <strong>Assign Tasks</strong><br />
                Streamline task management with team assignments, allowing you to easily delegate and track progress across your entire team.
            </p>
            <p>
                <i class="bi bi-journals"></i> <strong>Unlimited Projects</strong><br />
                Never run out of project space again with unlimited project creation, empowering you to take on as many projects as you need to reach your goals.
            </p>
        </div>
    </div>
    <img class="img-thumbnail ps-img-centre" src="~/img/Card.png" alt="Card View" />
    <hr />
</div>

<div class="marketing-section text-center">
    <p>Unlock your creative potential with a personal journal, the ultimate brainstorming tool for taking your ideas from concept to project.</p>
    <img class="img-thumbnail ps-img-centre" src="~/img/Journal.png" alt="Card View" />
    <hr />
</div>

<div class="marketing-section text-center">
    <p>Say goodbye to chaotic project management and hello to Plan Suite. Sign up <strong>for free</strong> today and take your projects to the next level.</p>
    <a class="btn ps-btn-primary" href="/Identity/Account/Register">Get started</a>
    <hr />
</div>

@section Scripts {
    <environment exclude="Development">
        @{
        int googleAd = UrlUtility.GetUrlRouteInt(HttpContext.Request, "ps-gad");
        int facebookAd = UrlUtility.GetUrlRouteInt(HttpContext.Request, "ps-fad");
        if (googleAd > 0)
        {
            EventUtility.FireEvent("GoogleAdLandingPage");
        }
        if (facebookAd > 0)
        {
            EventUtility.FireEvent("FacebookAdLandingPage");
        }
    }
    </environment>
}