@page
@model PlanSuite.Models.Temporary.HomeViewModel
@using Microsoft.AspNetCore.Http.Extensions
@using PlanSuite.Utility

<div class="marketing-header">
    <h1 class="landing-01">An answer for making projects straightforward. Period.</h1>
    <h3 class="landing-02">Plan Suite is the project management solution that helps teams work and collaborate more easily.</h3>
    <a href="/Identity/Account/Register" class="btn ps-btn-get-started">Get Started</a>
    <div class="ps-contact-sales-div">
        <a href="#" class="btn ps-btn-contact-sales">Contact Sales <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<div class="marketing-section text-center">
    <p>
        "Projects. Nobody enjoys managing them. We get that hence why we created this tool to assist in that endeavour. Project management has never been much easier thanks to our solution."<br />
        <small class="text-muted">Sean McElholm, Creator of Plan Suite</small>
    </p>
    <hr />
</div>

<div class="marketing-section text-center">
    <img class="img-fluid ps-img-centre" src="~/img/boards.png" alt="Kanban View" />
    <hr />
</div>

<div class="marketing-section text-center">
    <p>With years of experience in managing projects, we've built you a tool that we think you'll love and we've made it super easy to join.</p>
    <div class="row">
        <div class="col">
            <p>
                <i class="bi bi-kanban"></i> <strong>Kanban boards</strong><br />
                Utilize kanban boards to organise and break down your project into smaller and more manageable tasks.
            </p>
            <p>
                <i class="bi bi-card-checklist"></i> <strong>Personal Journal</strong><br />
                Utilize a personal journal to write down small idea's or to brain-storm before making your idea into a project.
            </p>
        </div>
        <div class="col">
            <p>
                <i class="bi bi-list-task"></i> <strong>Assign Tasks</strong><br />
                Assign tasks to different members of your team, allowing you assign team members to certain tasks.
            </p>
            <p>
                <i class="bi bi-journals"></i> <strong>Unlimited Projects</strong><br />
                Create as many projects as you want with no limit to the number of projects for what ever you need completed.
            </p>
        </div>
    </div>
    <img class="img-thumbnail ps-img-centre" src="~/img/Card.png" alt="Card View" />
    <hr />
</div>

<div class="marketing-section text-center">
    <p>Have a simple idea but still need to brainstorm? Use our Personal Journal feature to get you started!</p>
    <img class="img-thumbnail ps-img-centre" src="~/img/Journal.png" alt="Card View" />
    <hr />
</div>

<div class="marketing-section text-center">
    <p>Join the people using Plan Suite. Sign up for Plan Suite today <strong>for free</strong>.</p>
    <a class="btn ps-btn-primary" href="/Identity/Account/Register">Get started</a>
    <hr />
</div>

@section Scripts {
    <environment exclude="Development">
        @{
        int googleAd = UrlUtility.GetUrlRouteInt(HttpContext.Request, "ps-gad");
        int facebookAd = UrlUtility.GetUrlRouteInt(HttpContext.Request, "ps-fad");
        if (googleAd > 0)
        {
            EventUtility.FireEvent("GoogleAdLandingPage");
        }
        if (facebookAd > 0)
        {
            EventUtility.FireEvent("FacebookAdLandingPage");
        }
    }
    </environment>
}